<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    </head>
    <body class="page_wrap">
        <div class="title_block">
            <div>
                <div style="margin-top:130px">
                    <h1>IEEE Fraud Detection</h1>
                    <div style="display: inline-block; ">
                        <form action="http://loc.alhost:1080/upload" method="POST" enctype = "multipart/form-data" style="float:left;" >
                            <p><input type="submit" value="Upload Data"/></p>
                        </form>
                        <form action="http://localhost:1080/predict_demo" method="POST" enctype = "multipart/form-data" style="float:right;" >
                            <p><input type="submit" value="Model Demo"/></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>