<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>IEEE Fraud Detection Model</title>-->
<!--</head>-->
<!--<body>-->
<!--    <form action="http://localhost:1080/upload" method="POST" enctype = "multipart/form-data">-->
<!--      <p>Upload Data</p>-->
<!--      <p><input type="submit"/></p>-->
<!--    </form>-->
<!--    <form action="http://localhost:1080/predict_demo" method="POST" enctype = "multipart/form-data">-->
<!--      <p>Start Demo</p>-->
<!--      <p><input type="submit"/></p>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->

<html lang="en">
<body>

  <div class="page-wrap">
    <div class="jumbotron">
      <div style="margin-top:130px" class="container">
        <a href="#main-nav" class="h5 open-menu"><i style="color:#fff; position: relative; bottom:120px; cursor:pointer;" class="fa fa-bars fa-2x fa-fw"></i></a>
        <a href="#" class="h5 close-menu"><i style="color:#fff; position: relative; bottom:120px; cursor:pointer;" class="fa fa-times fa-2x fa-fw"></i></a>
        <h1>IEEE Fraud Detection</h1>
        <div class="spacer"></div>
        <form action="http://localhost:1080/upload" method="POST" enctype = "multipart/form-data">
             <p>Upload Data</p>
             <p><input type="submit"/></p>
        </form>
        <form action="http://localhost:1080/predict_demo" method="POST" enctype = "multipart/form-data">
             <p>Start Demo</p>
             <p><input type="submit"/></p>
        </form>
      </div>
    </div>
</body>
</html>